# Google Secrets
google_secrets.json
client_secret.json
token.json
token.pickle

# Credentials folders
credentials/

# Python
__pycache__/s.path.join(os.environ
*.pyc

.env

# IDE
.idea/
.vscode/
